<div class="adventure-container container profile-container">
  <div class="adventure-card-value">
    <h1 class="display-3">О сервисе </h1>
    <p class="lead">Что мы такое?</p>
    <article>Мы - возможность создавать маршруты, путешествия, приключения на ровном месте и делиться ими со всем миром.
      Хотите ли вы поделиться план кругосветного путешествия, или маршрут прогулки по карасивым местам после работы - наш сервис решит любую задачу. 
      Делитесь своими путеводителями, и собирайте свою армию поклонников. 
    </article>
    <p class="lead">Зачем мы есть?</p>
    <article>Мы сильно недооцениваем окружающий нас мир, порой и вовсе его игнорируем, с головой погрузившись в рутинные дела. А между тем, путешествия,
      даже совсем крошечные - это ключ к расширению нашего сознания, свежему взгляду на жизнь, заряд вдохновения и энергии.
      Наша миссия - дать людям возможность каждый день открывать для себя новые страницы мира.
    </article>
    <p class="lead">Как это работает?</p>
    <article>На нашем портале размещен каталог приключений на все случаи жизни: от прогулки после работы или поездки на выходные до многодневных путешествий или походов.
      Все приключения создаются пользователями и публикуются в открытом доступе после проверки модераторами. ПОсле регистрации пользователям доступен личный кабинет,
      где расположены инструменты для создания новых приключений, отслеживания прогресса по приключениям, взятым пользователем для прохождения и список
      запланированных путешествий.
    </article>
  </div>
</div>
