body {
  margin-bottom: -15vh;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar {
  /* opacity: .75; */
  z-index: 3000;
  transition-property: transform;
  transition-duration: .5s;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 10vh;
}

.navbar.out {
	transform: translateY(-100%);
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  font-weight: 100;
  margin-right: 3vw;
  margin-left: 1vw;
  margin-top: -10px;
  color: rgba(73, 70, 70, 0.1);
}

.navbar-collapse {
  max-width: 85vw;
}

.carousel-inner {
  z-index: -3;
}

.carousel-wrapper {
  display: flex;
  z-index: -2;
  background-color: rgba(0,0,0, 0);
  /* background-color:	rgba(0,0,0, 0.45); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: aliceblue;
  opacity: 0;
  transition: opacity 1.5s;
}

.carousel-wrapper.show {
  /* z-index: 1; */
  opacity: 0.45;
  background-color:	black;
}

.title-content {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* max-width: 50vw;
  max-height: 20vh; */
  opacity: 0;
  transition: opacity 1.5s;
}

.title-content.show {
  color: white;
  opacity: 1;
}

.main-title {
  font-size: 6em;
}

.lead {
  font-size: 2em;
}

#nav-tab {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.profile-nav {
  margin-top: 10vh;
}

.profile-main {
  min-height: 100vh;
}

/* Profile avatar styling */
.avatar-container {
  position: relative;
  max-width: fit-content;
  width: 12vw;
}

.avatar {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.avatar-container:hover .image {
  opacity: 0.3;
}

.avatar-container:hover .middle {
  opacity: 1;
}

.img-thumbnail {
  min-height: 200px;
  min-width: 200px;
  margin-top: 1vh;
  margin-left: 1vw;
}

.dev-label {
  position: absolute;
  top: -9;
  left: -9;
  padding: 2px;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.created {
  min-height: 100vh;
}

.profile-container {
  max-width: 50vw;
  padding: 2vh;
}

.success {
  text-align: center;
}

.trip-creation-form {
  margin: 7vh auto 7vh 0;
  max-width: 50vw;
  padding-left: 2vw;
}

.form-area {
  box-shadow: 5px 5px 12px; 
}

.waypoint {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 12px;
}

#offcanvasRight {
  width: 50vw;
}

.form-map {
  width: 100%;
  height: 100%;
  padding-top: 2vh;
}

.carousel-item {
  height: 100vh;
  overflow: hidden;
}

.index-image {
  height: 100%;
  object-fit: cover;
}

.category-container {
  max-width: 60vw;
  min-height: 100vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  opacity: 0;
  transition: opacity 1.0s;
}

.category-container.show {
  opacity: 1;
}

.categories-flex {
  justify-content: center;
  align-items: center;
}

.category {
  margin-bottom: 10vh;
  padding-top: 20vh;
  min-height: 100vh;
  max-width: 60vw;
}

.cards-container {
  max-width: 60vw;
  min-height: 100vh;
  margin-top: 12vh;
  margin-bottom: 10vh;
  vertical-align: auto;
}

.card.h-100 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 12px;
}

.card-img-top {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: fit-content;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #0d6efd; */
}

.col-private {
  padding-bottom: 5vh;
}

.card-body {
  min-height: 10vh;
  text-align: center;
  /* height: 1px; */
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.adventure-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10vh; 
}

.adventure-card-value {
  padding: 10vh 5px 0 0;
  width: 50vw;
  padding-left: 2vw;
  min-height: 100vh;
  padding-top: 5vh;
}

.vl {
  border-left: 1px solid gray;
  height: 5vh;
}

.adventure-card-map {
  padding: 7vh 0 0 5px;
  max-width: 50vw;
  height: auto;
}

/* .delete-btn {
  max-height: 2vh;
  max-width: 1vw;
  z-index: 1000;
} */

.link-block {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* text-decoration: none;
  color: black; */
}

.footer {
  min-height: 25vh;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 25vh;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: right;
}

@media (min-width: 992px) and (max-width: 1440px) {
  .main-title {
    font-size: 4em;
  }
  
  .lead {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    font-size: 2em;
  }

  .main-title {
    font-size: 2em;
  }
  
  .lead {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1em;
  }

  .main-title {
    font-size: 1.5em;
  }
  
  .lead {
    font-size: 0.9em;
  }
}
