body {
  margin-bottom: -15vh;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar {
  opacity: .7;
  transition-property: transform;
  transition-duration: .5s;
  background-position: center;
}

.navbar.out {
	transform: translateY(-100%);
}

#nav-tab {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.profile-nav {
  margin-top: 10vh;
}

.profile-main {
  min-height: 100vh;
}

.created {
  min-height: 100vh;
}

.profile-container {
  max-width: 50vw;
  padding: 2vh;
}

.success {
  text-align: center;
}

.trip-creation-form {
  margin: 7vh auto 7vh 0;
  max-width: 50vw;
  padding-left: 2vw;
}

.form-area {
  box-shadow: 5px 5px 12px; 
}

.waypoint {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 12px;
}

#offcanvasRight {
  width: 50vw;
}

.form-map {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 100vh;
  overflow: hidden;
}

.index-image {
  height: 100%;
  object-fit: cover;
}

.category-container {
  max-width: 60vw;
  height: 100vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  opacity: 0;
  /* transition-property: opacity;
  transition-duration: .2s; */
  transition: opacity 1.0s;
}

.category-container.show {
  opacity: 1;
}

.link-block {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  /* text-decoration: none;
  color: black; */
}

.footer {
  min-height: 15vh;
}
