<div class="adventure-card-value">
  <h1 class="display-3">{{adventure.title}}</h1>
  <p>{{adventure.category}}</p>
  <p class="lead">{{adventure.description}}</p>
</div>
{{!-- Карта в отображении путешествия --}}
<div class="map form-map adventure-card-map"></div>
