<div class="container category-container">
  <div class="row row-cols-1 row-cols-md-3 g-4 categories-flex">
    {{#each categories}}
      <div class="col">
        <div class="card h-100">
          <a href="category/{{this.categoryName}}" class="link-block"></a>
          <div  class="card-img-top" >
            <img src="img/icons/{{this.categoryImage}}" alt="{{this.categoryName}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.categoryName}}</h5>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
