{{#if planned}}
<div class="container cards-container success">
  <div class="created">
      <h1>Вы еще не запланировали ни одного приключения</h1>
      <p class="lead">Выберите что-нибудь из тысяч приключений на нашем портале или испытайте удачу</p>
    <a href="/" class="btn btn-outline-primary">На главную</a>
    <a href="/category/adventure/random" class="btn btn-outline-primary">Ткнуть пальцем в глобус!</a>
  </div>
</div>
{{else}}
<div class="container cards-container success">
  <div class="created">
      <h1>Вы еще не начали ни одного приключения</h1>
      <p class="lead">Выберите что-нибудь из тысяч приключений на нашем портале или испытайте удачу</p>
    <a href="/" class="btn btn-outline-primary">На главную</a>
    <a href="/category/adventure/random" class="btn btn-outline-primary">Ткнуть пальцем в глобус!</a>
  </div>
</div>
{{/if}}
