<div class="container profile-container success">
  <div class="created">
      <h1>Так держать!</h1>
      <p class="lead">Вы успешно создали новое приключение! Очень скоро другие пользователи смогут его увидеть.</p>
    <a href="/" class="btn btn-outline-primary">Главная страница</a>
    <button type="button" data-id="nav-create" class="btn btn-outline-primary">Создать еще</button>
    <button type="button" data-id="nav-created" class="btn btn-outline-primary">Созданные приключения</button>
  </div>
</div>
