<div class="container cards-container success">
  <div class="created">
      <p class="lead">Письмо для подтверждения регистрации повторно отправлено на вашу почту. Не забудте проверить папку "спам"</p>
    <a href="/" class="btn btn-outline-primary">Главная страница</a>
    <a href="/profile/{{username}}" class="btn btn-outline-primary">Личный кабинет</a>
  </div>
</div>

