<div class="container cards-container success">
  <div class="created">
      <h1>Электронная почта не подтверждена</h1>
      <p class="lead">К сожалению, этот функционал доступен только пользователям с подтвержденным E-mail :(</p>
    <a href="/" class="btn btn-outline-primary">Главная страница</a>
    <a href="/registration/repeat" class="btn btn-outline-primary">Отправить ссылку для подтверждения повторно</a>
  </div>
</div>
