<div class="container cards-container success">
  <div class="created">
      <h1>Поздравляем!</h1>
      <p class="lead">Ваша почта подтверждена, теперь вам доступны все функции сервиса.</p>
    <a href="/" class="btn btn-outline-primary">Главная страница</a>
  </div>
</div>

